minning_nodered.json
[
    {
        "id": "1f4ab394e334163e",
        "type": "tab",
        "label": "Flow 14",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4386fa0abc75bd9",
        "type": "inject",
        "z": "1f4ab394e334163e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "2202fa768eced24d",
        "type": "debug",
        "z": "1f4ab394e334163e",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "44b9265b60fe92bf",
        "type": "ibmiot in",
        "z": "1f4ab394e334163e",
        "authentication": "apiKey",
        "apiKey": "e64aa540729d1d37",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "381e090c3d31a298",
                "78e62c8e7f16eba1",
                "045b8a15a249fe80",
                "2521ea16bd7acb8f",
                "2c51408c0c17fb59"
            ]
        ]
    },
    {
        "id": "381e090c3d31a298",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 8",
        "func": "msg.payload=msg.payload.temp\nglobal.set(\"t\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "78e62c8e7f16eba1",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 9",
        "func": "msg.payload = msg.payload.Humid\nglobal.set(\"h\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "77ad0f32927dee46",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 10",
        "func": "msg.payload = { \"temp\": global.get(\"t\"), \"Humid\": global.get(\"h\"), \"gas\": global.get(\"g\"), \"sos\": global.get(\"s\"),\n    \"status\": global.get(\"p\")}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "c328e3d605b38ec4"
            ]
        ]
    },
    {
        "id": "bd434ae2ab6dde01",
        "type": "http in",
        "z": "1f4ab394e334163e",
        "name": "",
        "url": "/iot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "77ad0f32927dee46"
            ]
        ]
    },
    {
        "id": "c328e3d605b38ec4",
        "type": "http response",
        "z": "1f4ab394e334163e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "c6efde9fe52aa0c1",
        "type": "http in",
        "z": "1f4ab394e334163e",
        "name": "",
        "url": "/command",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 720,
        "wires": [
            [
                "7b1e1a3a693d0d14",
                "358e7cedeb464a9f",
                "6f9217b52feb3837"
            ]
        ]
    },
    {
        "id": "7b1e1a3a693d0d14",
        "type": "http response",
        "z": "1f4ab394e334163e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "358e7cedeb464a9f",
        "type": "debug",
        "z": "1f4ab394e334163e",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "6f9217b52feb3837",
        "type": "ibmiot out",
        "z": "1f4ab394e334163e",
        "authentication": "apiKey",
        "apiKey": "e64aa540729d1d37",
        "outputType": "cmd",
        "deviceId": "12345",
        "deviceType": "abcd",
        "eventCommandType": "command",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 800,
        "y": 840,
        "wires": []
    },
    {
        "id": "045b8a15a249fe80",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 11",
        "func": "msg.payload = msg.payload.gas\nglobal.set(\"g\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 380,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "2521ea16bd7acb8f",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 12",
        "func": "msg.payload = msg.payload.SOS\nglobal.set(\"s\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "2c51408c0c17fb59",
        "type": "function",
        "z": "1f4ab394e334163e",
        "name": "function 13",
        "func": "msg.payload = msg.payload.status\nglobal.set(\"p\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 500,
        "wires": [
            [
                "2202fa768eced24d"
            ]
        ]
    },
    {
        "id": "e64aa540729d1d37",
        "type": "ibmiot",
        "name": "IOT 2",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]
